In [ ]:
import pandas as pd
df = pd.read_csv('./code_table.csv')

In [ ]:
df = df.drop(['Unnamed: 0'], axis =1)

In [ ]:
df

          Name             Code
0           개발      /wdlist/518
1       서버 개발자  /wdlist/518/872
2        웹 개발자  /wdlist/518/873
3    프론트엔드 개발자  /wdlist/518/669
4       자바 개발자  /wdlist/518/660
..         ...              ...
101     물류, 무역      /wdlist/532
102       식·음료    /wdlist/10057
103  법률, 법집행기관      /wdlist/521
104     건설, 시설      /wdlist/509
105        비영리      /wdlist/514

[106 rows x 2 columns]

In [ ]:
for i in range(len(df)):
  df['Code'][i] = df['Code'][i].replace('/wdlist/', '')

In [ ]:
df

          Name     Code
0           개발      518
1       서버 개발자  518/872
2        웹 개발자  518/873
3    프론트엔드 개발자  518/669
4       자바 개발자  518/660
..         ...      ...
101     물류, 무역      532
102       식·음료    10057
103  법률, 법집행기관      521
104     건설, 시설      509
105        비영리      514

[106 rows x 2 columns]

In [ ]:
df['Category'] = 0
df

          Name     Code  Category
0           개발      518         0
1       서버 개발자  518/872         0
2        웹 개발자  518/873         0
3    프론트엔드 개발자  518/669         0
4       자바 개발자  518/660         0
..         ...      ...       ...
101     물류, 무역      532         0
102       식·음료    10057         0
103  법률, 법집행기관      521         0
104     건설, 시설      509         0
105        비영리      514         0

[106 rows x 3 columns]

In [ ]:
df = df.drop(list(df.loc[df['Name']=='더보기'].index))

In [ ]:
df['Category'].loc[df['Code'].str.contains('518')] = '개발'
df['Category'].loc[df['Code'].str.contains('507')] = '경영, 비즈니스'
df['Category'].loc[df['Code'].str.contains('523')] = '마케팅, 광고'
df['Category'].loc[df['Code'].str.contains('511')] = '디자인'
df['Category'].loc[df['Code'].str.contains('530')] = '영업'
df['Category'].loc[df['Code'].str.contains('510')] = "CS, 리테일"
df['Category'].loc[df['Code'].str.contains('524')] = '미디어'
df['Category'].loc[df['Code'].str.contains('517')] = '인사, 교육'
df['Category'].loc[df['Code'].str.contains('508')] = '금융'
df['Category'].loc[df['Code'].str.contains('513')] = '엔지니어링, 설계'

In [ ]:
df['Category'].loc[df['Category']==0] = '기타'
df

          Name     Code Category
0           개발      518       개발
1       서버 개발자  518/872       개발
2        웹 개발자  518/873       개발
3    프론트엔드 개발자  518/669       개발
4       자바 개발자  518/660       개발
..         ...      ...      ...
101     물류, 무역      532       기타
102       식·음료    10057       기타
103  법률, 법집행기관      521       기타
104     건설, 시설      509       기타
105        비영리      514       기타

[96 rows x 3 columns]

In [ ]:
df.to_csv('code_table.csv', index = False)